$orange: #F6531A;
$light-orange: #FF5E26;
$white: #FFFFFF;
$dark: #0F0F0F;
$grey-1: #F5F6F7;
$grey-2: #DEDFE0;
$grey-3: #CACBCC;
$grey-4: #7D7E80;
$grey-5: #565659;
$green: #4DA025;
$red: #EA4343;