.title {
    text-transform: uppercase;
    font-weight: 700;
    font-family: $poppins;
    font-size: 32px;
    line-height: 38px;
    margin: 0 0 40px 0;

    &--mrg {
        margin: 0 0 48px 0;
    }

    @media screen and (max-width: $tablet) {
        margin: 0 0 32px 0;
    }

    @media screen and (max-width: $mobile) {
        font-size: 24px;
        line-height: 32px;
    }
}

.subtitle {
    font-weight: 600;
    font-size: 20px;
    line-height: 28px;
    margin: 0 0 24px 0;
}

main {

    p {
        &,
        & * {
            color: $grey-4;
            font-weight: 400;
            font-size: 16px;
            line-height: 24px;
            strong {
                display: block;
                color: $dark;
                font-weight: 600;
            }
            a {
                text-decoration: underline;
                color: $blue;
            }
        }
    }
}

ul {

    li {
        @media screen and (max-width: $tablet) {
            width: calc(100% + 96px);
            transform: translateX(-48px);
        }
        @media screen and (max-width: $mobile) {
            width: calc(100% + 48px);
            transform: translateX(-24px);
        }
    }
}