// RESETS
@mixin h1 {
    font: 600 72px/74px $poppins;

    @media screen and (max-width: $mobile) {
        font: 600 42px/44px $poppins;
    }
}

@mixin h2 {
    font: 600 56px/62px $poppins;

    @media screen and (max-width: $mobile) {
        font: 600 28px/34px $poppins;
    }
}

@mixin h3 {
    font: 600 48px/1 $poppins;

    @media screen and (max-width: $mobile) {
        font: 600 24px/30px $poppins;
    }
}

@mixin h4 {
    font: 600 40px/44px $poppins;

    @media screen and (max-width: $mobile) {
        font: 600 20px/26px $poppins;
    }
}

@mixin h5 {
    font: 600 32px/40px $poppins;

    @media screen and (max-width: $mobile) {
        font: 600 14px/22px $poppins;
    }
}

@mixin h6 {
    font: 600 24px/28px $poppins;

    @media screen and (max-width: $mobile) {
        font: 600 10px/1 $poppins;
    }
}

@mixin paragraph {
    font: 400 18px/26px $inter;

    @media screen and (max-width: $mobile) {
        font: 400 16px/24px $inter;
    }
}

// TITLES
@mixin titlePage {
    font: 600 40px/1 $poppins;

    @media screen and (max-width: $mobile) {
        font: 600 28px/34px $poppins;
    }
}

@mixin titlePageNormal {
    font: 600 32px/40px $poppins;

    @media screen and (max-width: $mobile) {
        font: 600 24px/32px $poppins;
    }
}